// Colors
$lightPink: #F7E0F3;
$medPink: #E3ADCA;
$darkPink: #D2608C;
$lightPurple: #DFD2EB;
$lightBlue: #9CB6C7;

.light {
  --theme-contrast: #000;
  --theme-color: #1c3f56;
  --theme-page-background: white;
  --theme-accent1: #DFD2EB;
  --theme-accent2: #94c8eb;
}
.dark {
  --theme-contrast: #FFF;
  --theme-color: #F7E0F3;
  --theme-page-background: #0a161f;
  --theme-accent1: #D2608C;
  --theme-accent2: #872349;
}

.App, #links, input {
  color: var(--theme-color);
  background: var(--theme-page-background);
}

a {
  color: var(--theme-accent1);
}

.MuiTabs-root, .MuiList-root {
  color: var(--theme-color);
  background-color: var(--theme-page-background);
}

.MuiPaper-root.MuiDrawer-paper, .MuiDrawer-root, .MuiDrawer-modal {
  color: var(--theme-color);
  background-color: var(--theme-page-background);
}

.MuiButton-root.MuiButton-outlined {
  color: var(--theme-color);
  border-color: var(--theme-color);
  background-color: var(--theme-accent1);
}
.MuiButtonBase-root.MuiButton-root:hover {
  color: var(--theme-contrast);
  border-color: var(--theme-color);
  background-color: var(--theme-accent2);
}

.MuiPaper-root.MuiCard-root {
  color: var(--theme-contrast);
  border-color: var(--theme-accent1);
  background-color: var(--theme-accent2);
}