// Colors
$lightPink: #F7E0F3;
$medPink: #E3ADCA;
$darkPink: #D2608C;
$lightPurple: #DFD2EB;
$lightBlue: #9CB6C7;



.light {
  --theme-color: #1c3f56;
  --theme-page-background: white;
  --theme-accent1: #D2608C;
}
.dark {
  --theme-color: #F7E0F3;
  --theme-page-background: #0a161f;
  --theme-accent1: #D2608C;
}

.App, .page, body {
  color: var(--theme-color);
  background-color: var(--theme-page-background);
}
a {
  color: var(--theme-accent1);
}
.MuiTabs-root {
  color: var(--theme-color);
  background-color: var(--theme-page-background);
}
.MuiDrawer-paper, .MuiDrawer-root, .MuiDrawer-modal {
  color: var(--theme-color);
  background-color: var(--theme-page-background);
}