// Colors
$lightPink: #F7E0F3;
$medPink: #E3ADCA;
$darkPink: #D2608C;
$lightPurple: #DFD2EB;
$lightBlue: #9CB6C7;

.light {
  --theme-contrast: #000;
  --theme-color: #1c3f56;
  --theme-page-background: white;
  --theme-accent1: #E3ADCA;
  --theme-accent2: #F7E0F3;
  --theme-accent3: #FFF;
}
.dark {
  --theme-contrast: #FFF;
  --theme-color: #F7E0F3;
  --theme-page-background: #0a161f;
  --theme-accent1: #D2608C;
  --theme-accent2: #872349;
  --theme-accent3: #872349;
}

.fa-list-icon {
  color: var(--theme-accent1)
}