.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

#content {
  height: 100%;
  margin: 0;
  align-items: center;
  padding: 0 1.5em;
}

#landing {
  display: flex;
  min-height: 100vh;
  align-items: center;
}

#bio {
  width: 100%;
}

.page {
  margin-bottom: 10em;
  max-width: 1500px;
}

.MuiTypography-root.header {
  margin-bottom: 0.5em;
}

.MuiButton-root.MuiButtonBase-root {
  text-transform: none;
}

div.MuiListItemIcon-root {
  color: #788C99;
}

.particles {
  position: fixed;
  width: 100%;
  z-index: -1;
}

.project-card-image-area {
  max-height: 300px;
  overflow-y: hidden;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article {
  display: block;
}

a {
  text-decoration: none;
}

.project-img {
  height: auto;
  width: 100%;
}

#content-footer {
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin-bottom: 1em;
}

#logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.logo-box {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 7rem;
}
.stack-logo {
  width: auto;
  max-height: 5rem;
}

.MuiCardMedia-root.MuiCardMedia-img {
  object-fit: scale-down;
}

/* Media queries */
@media only screen and (max-width: 600px) {
  #landing-container, #bio {
    flex-direction: column;
    justify-content: space-between;
  }
  #landing-name {
    font-size: 46px;
    font-weight: 700;
  }
}

/* Logo animation */
@media (prefers-reduced-motion: no-preference) {
  #landing-logo {
    animation: logo-spin infinite 30s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}