.App {
  text-align: center;
  max-width: 1500px;
  height: 100%;
}

#links {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: flex-end;
  height: 100%;
}

#menu {
  display: flex;
  justify-content: flex-end;
}