html {
  scroll-snap-type: y mandatory;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  /* max-width: 100vw; */
}

/* #root {
  width: 667px;
} */

#menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

#links-bar {
  float: left;
  background-color: white;
  border-radius: 4px;
  box-shadow: 5px 5px 0px #D2608C;
}

#content {
  height: 100%;
  margin: 0;
  align-items: center;
  /* padding: 0 1.5em; */
}

#landing {
  /* margin-top: 52px; */
  /* background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(227,173,202,1) 100%); */
}

#links-drawer-mobile, #app-mobile {
  visibility: hidden;
  display: none;
}
#links-drawer, #appbar {
  visibility: visible;
  display: block;
}

section.page {
  padding: 2em 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
  scroll-snap-align: start;
  position: relative;
  /* perspective: 500px; */
}

.MuiTypography-root.header {
  margin-bottom: 0.5em;
}

.MuiButton-root.MuiButtonBase-root {
  text-transform: none;
}

.fa-list-icon {
  color: #D2608C;
  width: 1em;
}

.particles {
  position: fixed;
  width: 100%;
  z-index: -1;
}

.project-card-image-area {
  max-height: 300px;
  overflow-y: hidden;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.project-img {
  height: auto;
  width: 100%;
}

#content-footer {
  text-align: center;
  font-size: large;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.logo-box {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 7rem;
}
.stack-logo {
  width: auto;
  max-height: 5rem;
}

.MuiCardMedia-root {
  border: 0;
  & .MuiCardMedia-img {
    object-fit: scale-down;
  }
}

.MuiPaper-root {
  border: 0;
  border-radius: 4px;
  box-shadow: 5px 5px 0px #D2608C;
}

input {
  border-width: 3px;
}

#profile-pic {
  margin: 0 2em;
  object-fit: contain;
  width: 25vw;
  max-width: 375px;
  border-radius: 4px;
  box-shadow: 5px 5px 0px #D2608C;
  float: right;
}

/* Media queries */
@media only screen and (max-width: 600px) {
  #landing-container, #bio {
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-around;
  }
  #landing-name {
    font-size: 46px;
    font-weight: 700;
  }
  #landing-logo-container {
    padding: 2em 0;
    display: flex;
    justify-content: center;
  }
  #landing-logo {
    width: 50%;
    height: auto;
  }
  #links-drawer-mobile, #appbar-mobile {
    visibility: visible;
    display: block;
  }
  #links-drawer, #appbar {
    visibility: hidden;
    display: none;
  }
  .page {
    padding: 1em;
    /* max-width: calc(100vw - 2em); */
    /* max-width: 100vw; */
  }
  #profile-pic {
    margin: 0 2em 2em 2em;
    width: calc(100vw - 6em);
  }
}

/* Framer Motion */
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  z-index: 100;
  background: #D2608C;
  transform-origin: 0%;
}